<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-sucess text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center mlk-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20, 2024 </small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis iure et voluptatem a at sed,
                        officia
                        earum fugit est hic placeat nemo ad consectetur, recusandae tempora excepturi eos sit doloribus?

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eius inventore ipsa
                        voluptatum
                        eligendi, repellendus culpa quia voluptate eveniet autem porro dolores, eos quod molestias
                        earum!
                        Aliquid dicta modi iste?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo porro possimus dolor, molestiae
                        nesciunt commodi deserunt, rerum quis harum facere unde perspiciatis nostrum suscipit delectus
                        accusantium nulla debitis sed sapiente!

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nulla, nemo quia dolores
                        autem
                        ad, amet praesentium ea porro saepe ratione exercitationem itaque quas ex commodi, maiores
                        veritatis
                        harum debitis.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis commodi fugit placeat aliquid.
                        Eveniet, commodi cum? Officia vel provident earum laudantium dicta! Sequi quisquam commodi
                        maxime
                        nam tempora similique nemo.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, eum provident sint velit
                        fugit
                        nostrum doloremque ipsam harum sit. Ipsa hic itaque quasi culpa non expedita recusandae neque,
                        nostrum quibusdam!

                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam voluptates at esse aperiam
                        optio
                        magnam veniam reprehenderit explicabo adipisci, in quis consectetur vero, est nobis voluptatibus
                        aliquid doloremque beatae pariatur!
                    </p>
                </div>

            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>