<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/912897/pexels-photo-912897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="class-image-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100,256</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam necessitatibus iusto possimus earum, rem enim, similique nemo nesciunt atque repudiandae ullam vitae libero provident error eos ab ipsum expedita aspernatur.</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2024</small>
    </div>

</div>

